
{% extends 'base.html' %}

{% block head %}

<style type="text/css">
    .login-form {
	width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
        color: black;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }
    body{
        color: #fff;
	background: #3598dc;
	font-family: 'Roboto', sans-serif;
    }
    .form-control{
	height: 41px;
        background: #f2f2f2;
        box-shadow: none !important;
        border: none;
    }
    .form-control:focus{
	background: #e2e2e2;
    }
    .form-control, .btn{
        border-radius: 3px;
    }
</style>
{% endblock %}

{% block content %}
<div class="login-form">
    <form method="post">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
        </div>
    </form>
    <p class="text-center"><a style="color: white;" href="{{ url_for('auth.register') }}">Create an Account</a></p>
</div>
{% endblock %}
