*.el
*.ico
*.jpg
*.png
*.svg
*.ttf
*.txt
*.generator
*.local
*~
.env
.env.*
.gitignore
.husky
.prettierignore
.vscode
coverage
dist
index.html
node_modules
package-lock.json
e2e/featured.spec.ts-snapshots
playwright-report
site
test-results
