*.el
*.ico
*.jpg
*.png
*.svg
*.ttf
*.txt
*.generator
*.local
*~
.env
.env.*
.github/workflows
.gitignore
.husky
.prettierignore
.vscode
coverage
dist
index.html
node_modules
package-lock.json
e2e/*-snapshots
e2e/results
site
