* {
    box-sizing: border-box;
    font-family: var(--ns-font-main);
}

html,
body {
    margin: 0;
    padding: 0;
}

:root {
    /* Font sizes */
    --ns-size-body: 12px;
    --ns-size-display: 24px;
    --ns-size-heading: 16px;
    --ns-size-subheading: 12px;
    --ns-size-mini: 10px;
    --ns-size-heading-2: 14px;
    --ns-size-title: 24px;

    /* Fonts */
    --ns-font-display: 'Infinity', sans-serif;
    --ns-font-main: 'Inter', sans-serif;

    /* Colors */
    --ns-color-primary: #809fff;
    --ns-color-white: #ffffff;
    --ns-color-light: #b5b5b5;
    --ns-color-grey: #636363;
    --ns-color-black: #2f2f2f;
}

@font-face {
    font-family: 'Infinity';
    src: url('/src/assets/fonts/infinity/Infinity.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('/src/assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf');
}
