name: 'CI'
on:
    push:
        branches:
            - main
    pull_request:

jobs:
    lint:
        runs-on: ubuntu-22.04
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.x'
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '20.x'
            - name: Install dependencies
              run: npm install
            - name: Lint
              run: npm run lint:check
            - name: Type check
              run: npm run typecheck
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: '3.x'
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: '20.x'
            - name: Install dependencies
              run: npm install
            - name: Unit test
              run: npm run test:unit
            - name: Build production site
              run: npm run build
            - name: Install Playwright browsers
              run: npx playwright install --with-deps
            - name: End-to-end test
              run: npx playwright test -c e2e/playci.config.ts
### Uncomment when you need to re-extract snapshots
#            - name: Extract snapshots
#              if: always()
#              uses: actions/upload-artifact@v4
#              with:
#                  name: ci_actual_snapshots
#                  path: e2e/results/manual/output
